# Dependencies
node_modules

# npm error logs
npm-error.log

# Environment varibales
.env*
!.env*.example

# Code coverage
coverage

# build folder
dist

# docker volume
data

# code editor
.history/
