// ----------------------- Posititon ---------------------------
.d-none {
  display: none;
}
.d-flex {
  display: flex !important;
}
.justify-center {
  justify-content: center !important;
}
.align-items-center {
  align-items: center;
}
.c-pointer {
  cursor: pointer;
}
.space-between {
  justify-content: space-between;
}
.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
.position-relative {
  position: relative !important;
}
.position-absolute {
  position: absolute !important;
}

// ----------------------- Margin ---------------------------

.m0 {
  margin: 0;
}
.pt-10 {
  padding-top: 10px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mb-5 {
  margin-bottom: 5px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.mb16 {
  margin-bottom: 16px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}

.m-auto {
  margin: auto;
}
.ml-5 {
  margin-left: 5px !important;
}
.ml-10 {
  margin-left: 10px !important;
}
.mr-5 {
  margin-right: 5px;
}

.plr20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.ptb15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.p-20 {
  padding: 20px;
}

// ----------------------- Font ---------------------------
.fs-18 {
  font-size: 18px;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.text-decoration-none {
  text-decoration: none;
}

// ----------------------- Width ---------------------------

.w-100 {
  width: 100%;
}

.customError {
  height: 26px;

  span {
    font-size: 14px;
    margin-top: -13px;
    color: #d32f2f;
  }
}
.bg-dark {
  background-color: #000 !important;
}
.color-dark {
  color: #000 !important;
}
.color-light {
  color: #fff !important;
}
.color-error {
  color: #d32f2f !important;
}
.forBorder.status::before {
  border-bottom-color: #d32f2f !important;
}

// .custom-box-shadow {
//   background: linear-gradient(323deg, black -73%, #fff 48%);
// }
