$headerColor: #2874f0;
$secondaryColor: #fb641b;
$yellowColor: #f69b09;
$blackColor: #000;

:export {
  headercolor: $headerColor;
  secondarycolor: $secondaryColor;
  yellowColor: $yellowColor;
  blackColor: $blackColor;
}
